{{ partial "head.html" . }}

{{ range first 1 .Data.Pages }}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Home</li>
				<ol>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
				<div class="p-2 align-self-center">
					<img src="/img/espen.png" width="100px" height="100px" class="rounded-circle">
				</div>
				<div class="p-2 align-self-center">

					This is where I post my <a href="/posts">public notes</a> on various projects, often related to IT operations. Some of my projects are also available in <a href="https://github.com/espebra/">Github</a>.
					<footer class="blockquote-footer">Espen Braastad</footer>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		{{ partial "singlepost.html" . }}
	</div>
{{ end }}
{{ partial "footer.html" . }}
